*.pyc
*_predict_test.txt
*_predict_train.txt
*_data.tar.gz
data/*
*.txt
!requirements.txt
*.png
*.h5
/venv/
/test/*
/bin/
/lib/*
/lib64/*
/share/
.cfg
DOSnet_test.py
/logs/*
test.ipynb
test_plot.ipynb
/backups/*
*.dio
check_two_predict.ipynb
*.ipynb
config.ini