*.pyc
*_predict_test.txt
*_predict_train.txt
*_data.tar.gz
data/*_data
/result/*.txt
/resultplot/*.png
/models/*.h5
/venv/
/test/*
/bin/
/lib/*
/lib64/*
/share/
.cfg
DOSnet_test.py
/logs/*
*.ipynb
/backups/*